.box {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: 10px;
  white-space: nowrap;
}

.tooltip .tooltip-tail {
  visibility: hidden;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #f0f0f0;
  transform: rotate(45deg);
  z-index: 0;
}

.box:hover .tooltip {
  visibility: visible;
}

.box:hover .tooltip-tail {
  visibility: visible;
}
